<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :compensation %>
    <%= f.input :is_internal %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
