<%= simple_form_for(@app) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :last_name %>
    <%= f.input :first_name %>
    <%= f.input :resume %>
    <%= f.association :job, label_method: :title, include_blank: false %>
    <%= f.association :user,  label_method: :email, include_blank: false%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
