
<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @application.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @application.first_name %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @application.resume %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
